@model IEnumerable<ProjetoCadastro.Models.ContatoModel>

@{
    ViewData["Title"] = "Consultar Contato";
}

<div class="text-center">
    <h1 class="display-4">Consultar Contato</h1>
</div>

<form asp-action="ConsultaContato" method="get" class="form-inline justify-content-center mb-4">
    <div class="form-group mx-sm-3 mb-2">
        <input type="text" name="searchTerm" class="form-control" placeholder="Digite o Id ou Nome do contato" />
    </div>
    <button type="submit" class="btn btn-primary mb-2">Buscar</button>

    <a asp-controller="Contatos" asp-action="Index" class="btn btn-secondary mb-2 ml-2">Voltar</a>
</form>


@if (Model != null && Model.Any())
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contato in Model)
            {
                <tr>
                    <td>@contato.Id</td>
                    <td>@contato.Nome</td>
                    <td>@contato.CPF</td>
                    <td>                      
                        <a asp-controller="Contatos" asp-action="Edit" asp-route-id="@contato.Id" class="btn btn-warning btn-sm">Editar</a>
                        <a asp-controller="Contatos" asp-action="Delete" asp-route-id="@contato.Id" class="btn btn-danger btn-sm">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else if (!string.IsNullOrEmpty(ViewContext.HttpContext.Request.Query["searchTerm"]))
{
    <p class="text-center text-danger">Nenhum contato encontrado.</p>
}

