@using ProjetoCadastro.Enums
@model ProjetoCadastro.DTOs.CreateContatoDto

@{
    ViewData["Title"] = "Criar Contato";
}

<div class="text-center">
    <h1 class="display-4">Criar Contato</h1>
</div>

<form asp-controller="Contatos" asp-action="Create" method="post">
    <div class="form-group">
        <label for="Nome">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" id="Nome" placeholder="Digite o nome do contato" />
        <span class="text-danger field-validation-valid" data-valmsg-for="Nome" data-valmsg-replace="true"></span>
    </div>

    <div class="form-group">
        <label for="CPF">CPF</label>
        <input type="text" asp-for="CPF" class="form-control" id="CPF" placeholder="Digite o CPF" data-mask="000.000.000-00" />
        <span asp-validation-for="@Model.CPF" class="text-danger"></span>
    </div>

    <h3>Telefones</h3>
    <div id="telefones-list">
        @if (Model.Telefones != null && Model.Telefones.Any())
        {
            for (var i = 0; i < Model.Telefones.Count; i++)
            {
                <div class="telefone-item">
                    <div class="form-group">
                        <label for="Telefones[@i].TipoTelefone">Tipo de Telefone</label>
                        <select name="Telefones[@i].TipoTelefone" class="form-control">
                            <option value="">Selecione o tipo</option>
                            @foreach (var tipo in Enum.GetValues(typeof(TipoTelefoneEnum)))
                            {
                                if (Model.Telefones[i].TipoTelefone == (TipoTelefoneEnum)tipo)
                                {
                                    <option value="@tipo" selected>@tipo</option>
                                }
                                else
                                {
                                    <option value="@tipo">@tipo</option>
                                }
                            }
                        </select>
                        <span class="text-danger field-validation-valid" data-valmsg-for="Telefones[@i].TipoTelefone" data-valmsg-replace="true"></span>
                    </div>

                    <div class="form-group">
                        <label for="Telefones[@i].Numero">Número de Telefone</label>
                        <input type="text" id="Telefones[@i].Numero" name="Telefones[@i].Numero" class="form-control telefone-mask" value="@Model.Telefones[i].Numero" placeholder="Digite o telefone" />
                        <span class="text-danger field-validation-valid" data-valmsg-for="Telefones[@i].Numero" data-valmsg-replace="true"></span>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="telefone-item">
                <div class="form-group">
                    <label for="Telefones[0].TipoTelefone">Tipo de Telefone</label>
                    <select name="Telefones[0].TipoTelefone" class="form-control">
                        <option value="">Selecione o tipo</option>
                        @foreach (var tipo in Enum.GetValues(typeof(TipoTelefoneEnum)))
                        {
                            <option value="@tipo">@tipo</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label for="Telefones[0].Numero">Número de Telefone</label>
                    <input type="text" id="Telefones[0].Numero" name="Telefones[0].Numero" class="form-control telefone-mask" placeholder="Digite o telefone" />
                </div>
            </div>
        }
    </div>
    <div class="form-group">
        <button type="button" id="add-telefone" class="btn btn-primary">Adicionar Telefone</button>
    </div>

    <button type="submit" class="btn btn-success btn-block">Salvar</button>
    <br>
    <a class="btn btn-secondary btn-block" asp-controller="Contatos" asp-action="Index" role="button">Voltar</a>
    <br>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script>
        $(document).ready(function () {
            function aplicarMascaraTelefone($campo, tipo) {
                if (tipo === "Fixo") {
                    $campo.mask('(00) 0000-0000');
                } else {
                    $campo.mask('(00) 00000-0000');
                }
            }

            $('.telefone-item input[type="text"]').each(function () {
                const $telefoneInput = $(this);
                const $tipoTelefone = $telefoneInput
                    .closest('.telefone-item')
                    .find('select[name$=".TipoTelefone"]');

                aplicarMascaraTelefone($telefoneInput, $tipoTelefone.val());

                $tipoTelefone.on('change', function () {
                    aplicarMascaraTelefone($telefoneInput, $(this).val());
                });
            });

            let telefoneIndex = 1;

            $('#add-telefone').click(function () {
                const telefoneItem = `
                <div class="telefone-item">
                    <div class="form-group">
                        <label for="Telefones[${telefoneIndex}].TipoTelefone">Tipo de Telefone</label>
                        <select name="Telefones[${telefoneIndex}].TipoTelefone" class="form-control">
                            <option value="">Selecione o tipo</option>
                            <option value="Fixo">Fixo</option>
                            <option value="Comercial">Comercial</option>
                            <option value="Pessoal">Pessoal</option>
                            <option value="WhatsApp">WhatsApp</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="Telefones[${telefoneIndex}].Numero">Número de Telefone</label>
                        <input type="text" id="Telefones[${telefoneIndex}].Numero" name="Telefones[${telefoneIndex}].Numero" class="form-control telefone-mask" placeholder="Digite o telefone" />
                    </div>

                    <div class="form-group">
                        <button type="button" class="btn btn-danger remove-telefone">Remover</button>
                    </div>
                </div>`;

                $('#telefones-list').append(telefoneItem);

                const $novoTelefone = $(`#Telefones\\[${telefoneIndex}\\]\\.Numero`);
                const $novoTipoTelefone = $novoTelefone.closest('.telefone-item').find('select[name$=".TipoTelefone"]');

                aplicarMascaraTelefone($novoTelefone, $novoTipoTelefone.val());

                $novoTipoTelefone.on('change', function () {
                    aplicarMascaraTelefone($novoTelefone, $(this).val());
                });

                telefoneIndex++;
            });

            $(document).on('click', '.remove-telefone', function () {
                $(this).closest('.telefone-item').remove();
            });
        });
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}