@model IEnumerable<ProjetoCadastro.Models.ContatoModel>

<h1>Lista de Contatos</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>CPF</th>
            @*<th>Telefone</th>
            <th>Tipo</th>*@
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contato in Model)
        {
<tr>
    <td>@contato.Id</td>
    <td>@contato.Nome</td>
    <td>@contato.CPF</td>
    @*<td>@contato.Telefone</td>
    <td>@contato.TelefoneTipo</td>*@
    <td>
        <!-- Botão de Editar -->
        <a href="@Url.Action("Edit", "Contatos", new { id = contato.Id })" class="btn btn-warning">Editar</a>

        <!-- Botão de Excluir com confirmação -->
        <form asp-action="DeleteConfirmed" asp-route-id="@contato.Id" method="post" style="display:inline;">
            <button type="submit" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja excluir este contato?')">Excluir</button>
        </form>


    </td>
</tr>}
    </tbody>
</table>

<div class="text-left">
    <a href="@Url.Action("Create", "Contatos")" class="btn btn-primary">Cadastrar Contato</a>
</div>
